<server description="supplier domain server">
	<featureManager>
		<feature>javaee-8.0</feature>
		<feature>openapi-3.1</feature>
	</featureManager>

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

<!-- 	<httpEndpoint host="localhost" httpPort="-1" -->
	<httpEndpoint host="localhost" httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

	<keyStore id="defaultKeyStore"
		type="PKCS12"
		password="Liberty" />

	<jdbcDriver id="H2Driver"
		javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" libraryRef="h2-lib" />
	<library id="h2-lib">
		<fileset dir="${shared.resource.dir}/h2"
			includes="h2-1.4.200.jar" />
	</library>

	<dataSource id="h2-db" jndiName="jdbc/supplier_db"
		type="javax.sql.DataSource" jdbcDriverRef="H2Driver">
		<properties	url="jdbc:h2:mem:supplier_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;TRACE_LEVEL_FILE=4" />
	</dataSource>

	<basicRegistry id="basic" realm="defaultRealm">
		<user name="admin" password="adminpwd" />
		<user name="testuser" password="pwd" />
		<user name="orderer" password="pwd" />

		<group name="SUPPLIERDOMAIN.SUPPLIER">
			<member name="testuser" />
		</group>
		<group name="SUPPLIERDOMAIN.ORDERER">
			<member name="orderer" />
		</group>
		<group name="SUPPLIERDOMAIN.ADMIN">
			<member name="admin" />
		</group>
	</basicRegistry>

	<enterpriseApplication id="supplierdomain"
		location="supplierdomainEAR.ear" name="supplierdomainEAR.ear">
		<application-bnd>
			<security-role name="SUPPLIERDOMAIN.SUPPLIER">
				<group name="SUPPLIERDOMAIN.SUPPLIER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.PURCHASE">
				<group name="SUPPLIERDOMAIN.ORDERER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.PROCESS.DELIVERY">
				<group name="SUPPLIERDOMAIN.SUPPLIER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.ADMIN">
				<group name="SUPPLIERDOMAIN.ADMIN" />
			</security-role>
		</application-bnd>
	</enterpriseApplication>

</server>